/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', 'Courier New', monospace !default;
$font-size-root: 15px;
$body-bg: #ededed;
$text-color: #2a2a2a;
$border-radius: .15rem !default;

@import "bootstrap";
@import "octicons";

$brand-color: #640000;
$background-color: #fff;
$job-color: #eceeef;
$market-color: #e50000;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 5rem;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.field_with_errors {
  @extend .has-danger;
}

.navbar-fixed-top {
  background-color: $background-color;
  border-bottom: 1px solid darken($background-color, 10%);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.06);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
  background: image-url('logo.png') no-repeat;
  background-size: 40px auto;
  padding-left: 45px;
  color: $brand-color;
  &:hover, &:focus {
    color: darken($brand-color, 10%);
  }
}

.c-select {
  border-radius: $border-radius;
}

.mono {
  font-family: $font-family-monospace;
  white-space: nowrap;
}

.container-fluid > .alert {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10000;
  width: 400px;
  margin-left: -200px;
  text-align: center;
  animation: fadeOut 2s 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

tbody.blueprint {
  cursor: pointer;
  tr {
    background-color: #f7f7f7;
    font-weight: 600;
  }
}

.hidden {
  display: none;
}

.table {
  thead th {
    border-top: 0;
  }
  td.text-muted {
    font-weight: 300;
  }
  td.text-market {
    color: $brand-color;
  }
  .label {
    position: relative;
    top: -2px;
    left: 2px;
    font-size: 72%;
  }
  tbody.has-job, tbody.has-job + tbody {
    border-top-color: darken($job-color, 10%);
  }
  tbody.blueprint.has-job tr {
    background-color: $job-color;
    &:hover {
      background-color: darken($job-color, 1%);
    }
  }
}

#blueprints {
  font-size: .85rem;
}